* {
box-sizing: border-box;
}

body {
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
    margin: 0;
    padding: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

:root {
    --content-width: 1170px;
    --mobile-padding: 16px;
    --gutter: 15px;
}

.header {    
    background: #000;

}

.container {
    margin: 0 auto;
    max-width: calc(((var(--mobile-padding) * 2) + var(--content-width)));
    padding: 0 var(--mobile-padding);
}

.header__inner{
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
}

.header__menu-item {
    margin-right: 50px;
    padding: 28px 0;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__menu-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color:#fff;
}

.social {
    background: #F8EFEF;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--gutter) * -1 );
}

.social__media-title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-top: 0;
    padding-top: 20px;
}

.social__media-subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
}

.social__links {
    display: flex;
    padding-left: 49px;
}

.social__links-item {
    margin: 40px 22px;
}


.social__links-item:last-child {
    margin-right: 0;
}

.col-4 {
    width: calc(100% / 12 * 4 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-5 {
    width: calc(100% / 12 * 5 - var(--gutter) * 2);
    margin: 0  var(--gutter);
}

.col-6 {
    width: calc(100% /12 * 6 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-7 {
    width: calc(100% / 12 * 7 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.section-head__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    padding: 62px;
    text-align: center;
    text-transform: uppercase;
}

.section-head__title_active {
    color:white;
}


.section-head__title:after{
    content: '';
    width: 170px;
    margin: 0 auto;
    text-align: center;
    display:block;
    border: 0.5px solid #EC7979;
    margin-top: 60px;
    margin-bottom: 0px;
}

.section-head__title_active::after{
    border-color: #fff;
}

.section-head__subtitle {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.section-head__subtitle_active{
    color:white;
}

.awesomet__card {   
    text-align: center;
    margin-top: 79px;
}

.awesomet__card-icon {
    display: inline-block;
    
}

.awesomet__card-title {
    margin-bottom: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding-top: 38px;
    padding-bottom: 38px;
}

.awesomet__card-description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 58px;
    margin-top: 0;
}

.price {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #F5F5F5;
}


.price__card {
    text-align: center;
    margin-top: 79px;
}

.price__card_active{
    transform: translateY(-20px);
}

.price__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    padding-top: 17px;
    padding-bottom: 17px;
}

.price__cost {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.price__data {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
    border: 2px solid #F5F5F5;
    margin-bottom: 0;
    padding-top:15px;
    padding-bottom: 15px;
}

.price__info {
    margin-top: 0;
    display: inline;
    padding: 0;
}

.price__info-item {
    list-style-type: none;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
}

.pricse__info-link {
    margin-top: 0;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;       
}
.customer {
    margin-top: 50px;
    margin-bottom: 64px;
}

.customer__card {
    margin-top: 83px;
}

.customer__card-text {
    font-family: 'Raleway';
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background: #E2E2E2;
    border-radius: 10px;
    color: #86878B;
    padding: 38px 20px;
}

.customer__card-text::after{
    content: ''; 
    position: absolute;
    margin-top: 59px;
    margin-left: -170px;
    border: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
}

.customer__manager{
    display: block;
    margin-top: 66px;

}
.customer__manager-icon {
    float:left;
}

.customer__manager-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    float:left;
}

.customer__manager-job {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    float:left;
    padding-left: 30px;
    padding-top: 15px;    
}

.contact_nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
    margin-bottom: 70px;
    padding-left: 170px;
    padding-right: 170px;
}

.city {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../images/city.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
}

.section-head_active {
    color: white;
}

.section-head__title_active::after{
    border-color: #86878B;
}

.button-download {
    display: inline-block;
    font-family: 'Open Sans';
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid #fff;
    color: #fff;
    padding: 20px 170px;
    margin-top: 73px;    
}

.personal-data {
    padding: 50px;
    text-align: center;
}

.button-download_Send{
    margin:0;
    background: #EC7979;
    text-align: center;
}

.personal-data__user {
    box-sizing: border-box;
    text-align: left;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    margin-bottom: 16px;
}

.personal-data__input {
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-bottom: 50px;
}

.personal-data__input:last-child {
    margin-bottom: 0;
}

.personal-data__textarea {
    border: 1px solid #BDBDBD;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 86.99%;
    resize: none;    
}

.personal-data__card {
    margin-top: 89px;
    margin-bottom: 50px;
}

.social_active{
    background: #000;
    padding-bottom: 27px;
}

.social__links-item svg:hover path {
    fill:#EC7979;
}

.text_themes{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    }

    .col-12 {
        max-width: 100%;
    }

    .element_center{
    justify-content: center;
    }